---
Language: Cpp
BasedOnStyle: Mozilla
ColumnLimit: 80
SpacesInParentheses: true
AlwaysBreakAfterReturnType: None
AlwaysBreakAfterDefinitionReturnType: None
SpaceBeforeCpp11BracedList: true
BreakBeforeBinaryOperators: All
FixNamespaceComments: true
---
Language: Proto
# Don't format .proto files.
DisableFormat: true
...
